<div class="container col-3 p-3">
  <h1>New Task</h1>
  <%= simple_form_for(@task) do |f| %>
    <div class="form-group">
      <%= f.input :title %>
    </div>
    <%= f.input :details %>
    <%= f.check_box :completed %>
    <%= f.submit class: "btn btn-primary mt-3" %>
  <% end %>
  <%= link_to 'Go back', tasks_path, class: "btn btn-danger mt-3" %>
</div>
